.fg-cl0 {
  width: 5%;
  text-align: center;
}
.fg-cl1 {
  width: 40%;
}
.fg-cl3 {
  width: 15%;
  text-align: center;
}

.fg-answer-box{
  width: 90%;
  height: 40px;
  display: table-cell;
  margin-left: 1%;
  margin-top: 3px;
  resize: none;
  overflow: hidden;
}

.fg-error-message {
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 77px;
  width: 60%;
  text-align: left;
  font-size: 14px;
  color: red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}