.itf-cl0 {
  width: 5%;
  text-align: center;
}

.itf-cl1 {
  width: 45%;
}

.itf-cl2 {
  width: 15%;
}

.itf-cl3 {
  width: 10%;
  text-align: center;
}

.itf-correct-cell{
  background: rgb(7, 230, 7) !important;
}

.itf-incorrect-cell{
  background: rgb(230, 0, 25) !important;
}
.itf-ddlist{
  position: relative;
  top: 10px;
  height: 40px;
  width: 320px;
  color: #8AA8BD;
  outline: solid;
  left: 88px;
  font-size: 20px;
}

.itf-answers-row {
  height: 60px;
  display: table;
  width: 100%;
}

.itf-answers-row > span {
  width: 105px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 18px;

}