.met-cl0 {
  width: 5%;
  text-align: center;
}

.met-cl1 {
  width: 65%;
}

.met-cl2 {
  width: 20%;
}

.met-cl3 {
  width: 10%;
  text-align: center;
}

.met-question-label {
  width: 90px !important;
  height: 100% !important;
  display: table-cell !important;
  vertical-align: middle !important;
  text-indent: 10px !important;
  font-size: 24px !important;
  text-align: left !important;
}

.met-question-textarea {
  height: 100%;
  width: 97%;
  display: inline-block;
  resize: none;
  margin-left: 1%;
}

.met-answers-container {
  position: relative;
  top: 30px;
  height: 100px;
  width: 100%;
}