.men-cl0 {
  width: 5%;
  text-align: center;
}

.men-cl1 {
  width: 65%;
}

.men-cl2 {
  width: 20%;
}

.men-cl3 {
  width: 10%;
  text-align: center;
}

.men-error-message{
  position: absolute;
  bottom: 20px;
  padding-left: 30px;
  font-size: 18px;
  color: red;
  z-index: 2;
  width: 55%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
