.mtp-cl0 {
  width: 5%;
  text-align: center;
}

.mtp-cl1 {
  width: 25%;
}

.mtp-cl2 {
  width: 12%;
}

.mtp-cl3 {
  width: 12%;
}

.mtp-cl4 {
  width: 12%;
}

.mtp-cl5 {
  width: 12%;
}

.mtp-cl6 {
  width: 12%;
}

.mtp-cl7 {
  width: 10%;
  text-align: center;
}

.mtp-error-message{
  z-index: 2;
  position: absolute;
  bottom: 20px;
  left: 77px;
  width: 40%;
  text-align: left;
  font-size: 18px;
  color: red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tbl-correct-cell {
  background: rgb(7, 230, 7) !important;
}