.sgl-question-text {
  width: 100%;
  height: 200px;
  position: relative;
  display: table;
  top: 10px;
}

.sgl-question-label {
  width: 125px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 18px;
}

.sgl-question-textarea {
  height: 100%;
  width: 97%;
  position: relative;
  display: inline-block;
  resize: none;
  margin-left: 1%;
}

.sgl-cl0 {
  width: 5%;
  text-align: center;
}

.sgl-cl1 {
  width: 25%;
}

.sgl-cl2 {
  width: 12%;
}

.sgl-cl3 {
  width: 12%;
}

.sgl-cl4 {
  width: 12%;
}

.sgl-cl5 {
  width: 12%;
}

.sgl-cl6 {
  width: 12%;
}

.sgl-cl7 {
  width: 10%;
  text-align: center;
}

.sgl-correct-cell {
  background: rgb(7, 230, 7) !important;
}

.table-controls {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  width: 40px;
  vertical-align: middle;
}

.sgl-search-box {
  position: absolute;
  left: 20px;
  top: 12.5px;
  width: 320px;
}

.sgl-search-field {
  position: relative;
  outline: none;
  width: 100%;
  height: 30px;
  @include border-radius(20px);
  border: 1px solid #0D0D0D;
  padding-left: 10px;
  text-indent: 5px;
}

.sql-answers-container {
  position: absolute;
  top: 10px;
  bottom: 80px;
  width: 100%;
  overflow: auto;
}
.sql-answers-row-input {
  width: 50px;
  display: table-cell;
  vertical-align: middle;
  >input{
    width: 40px;
    height: 22px;
  }
}

.sql-answers-row {
  height: 60px;
  display: table;
  width: 100%;
  padding: 0 10px;
}

.sql-answers-row > span:first-child {
  width: 105px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}

.sql-answer-textarea {
  width: 90%;
  height: 100px;
  display: table-cell;
  margin-left: 1%;
  margin-top: 3px;
  resize: none;
  overflow: hidden;
}