@mixin user-select($param) {
  -webkit-user-select: $param;
  -moz-user-select: $param;
  -ms-user-select: $param;
  user-select: $param;
}

@mixin sgl-background-clip {
  border: 1px solid transparent;
  border-bottom: 0;
  @include background-clip(padding-box);
}