.add-edit-question-popup {
  background: rgb(252, 252, 252);
  width: 800px;
  height: 600px;
  border-radius: 5px;
}

.add-edit-test-popup {
  background: rgb(252, 252, 252);
  width: 600px;
  height: 486px;
  border-radius: 5px;
  border: 1px solid #666666;
}

.crt-test-row {
  height: 60px;
  display: table;
  width: 100%;
}

.crt-test-row > span {
  width: 137px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 18px;
}

.stat-test-row {
  height: 40px;
  display: table;
  width: 100%;
  padding-left: 80px
}

.stat-test-row > span:first-child {
  width: 137px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 16px;
  font-weight: bold;
}

.stat-test-row > span:last-child {
  width: 137px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 16px;
}
.add-edit-question-body {
  bottom: 72px;
  width: 99%;
  top: 49px;
  position: absolute;
  overflow: hidden;
}

.add-edit-question-footer {
  bottom: 0px;
  position: absolute;
  height: 70px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
  line-height: 70px;
  width: 100%;
  padding-right: 70px;
  background-color: #ccc;
}

.stat-question-footer {
  bottom: 0px;
  position: absolute;
  height: 70px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  line-height: 70px;
  width: 100%;
  background-color: #ccc;
}


.add-question-view{
  position: absolute;
  width: 100%;
  height: 100%;
}