@import "compass";

* {
  @include box-sizing(border-box);
}

%cw-button-large {
  min-width: 170px;
  height: 60px;
  padding: 18px 16px 15px;
  line-height: 18px;
  letter-spacing: 1px;
  @include border-radius(3px);
}

%cw-button-medium {
  min-width: 170px;
  height: 55px;
  padding: 18px 16px 15px;
  line-height: 18px;
  letter-spacing: 1px;
  @include border-radius(3px);
}

%cw-button-small {
  width: 100px;
  height: 40px;
  padding: 18px 16px 15px;
  line-height: 18px;
  letter-spacing: 1px;
  @include border-radius(3px);
}

%cw-button-smaller {
  min-width: 60px;
  height: 55px;
  line-height: 18px;
  padding: 16px 14px 12px;
  @include border-radius(3px);
}

.cw-button.microphone-settings {
  position: relative;
  float: left;
  margin-right: 10px;
}

.cw-button.multiline {
  width: 200px;
  white-space: normal;
}

.cw-button {
  outline: none;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-image: none;
  border: 0;
  white-space: nowrap;
  font-size: 16px;
  padding: 6px 12px;
  vertical-align: middle;
  @include border-radius(3px);
  span[class*="activity-icon"] {
    font-size: 22px;
    vertical-align: middle;
  }
  &[class*="-smaller-"] span {
    padding: 0 !important;
  }
  span[class*="activity-icon"]:first-child {
    padding-right: 10px;
  }
  span[class*="activity-icon"]:last-child {
    padding-left: 10px;
  }
}

.cw-wild-blue-smaller-button {
  color: #ffffff;
  background-color: #7492b3;
  @extend %cw-button-smaller;
  @include box-shadow(inset 0 -5px 0 rgba(51, 70, 102, 1));
  .cw-hover &:enabled:hover {
    background-color: #a3bcd6;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #50a463 !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #7492b3;
    @extend %cw-button-smaller;
    @include box-shadow(inset 0 -5px 0 rgba(51, 70, 102, 1));
  }
}

.cw-blue-smaller-button {
  color: #ffffff;
  background-color: #47749e !important;
  @extend %cw-button-smaller;
  @include box-shadow(inset 0 -5px 0 rgba(58, 94, 128, 1));
  .cw-hover &:enabled:hover {
    background-color: #608bb3 !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #3a5e80 !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #47749e !important;
    @extend %cw-button-smaller;
    @include box-shadow(inset 0 -5px 0 rgba(58, 94, 128, 1));
  }
}

.cw-purple-medium-button {
  color: #ffffff;
  background-color: #615683 !important;
  @extend %cw-button-medium;
  @include box-shadow(inset 0 -5px 0 rgba(73, 67, 101, 1));
  .cw-hover &:enabled:hover {
    background-color: #8c82ae !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #494365 !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #615683 !important;
    @extend %cw-button-medium;
    @include box-shadow(inset 0 -5px 0 rgba(73, 67, 101, 1));
  }
}

.cw-green-medium-button {
  color: #ffffff;
  background-color: #50a463 !important;
  @extend %cw-button-medium;
  @include box-shadow(inset 0 -5px 0 rgba(58, 128, 62, 1));
  .cw-hover &:enabled:hover {
    background-color: #5fb265 !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #3a803e !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #50a463 !important;
    @extend %cw-button-medium;
    @include box-shadow(inset 0 -5px 0 rgba(58, 128, 62, 1));
  }
}

.cw-maroon-medium-button {
  color: #ffffff;
  background-color: #c13f5c !important;
  @extend %cw-button-medium;
  @include box-shadow(inset 0 -5px 0 rgba(144, 46, 68, 1));
  .cw-hover &:enabled:hover {
    background-color: #cb5973 !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #902e44 !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #c13f5c !important;
    @extend %cw-button-medium;
    @include box-shadow(inset 0 -5px 0 rgba(144, 46, 68, 1));
  }
}

.cw-blue-medium-button {
  color: #ffffff;
  background-color: #47749e !important;
  @extend %cw-button-medium;
  @include box-shadow(inset 0 -5px 0 rgba(58, 94, 128, 1));
  .cw-hover &:enabled:hover {
    background-color: #608bb3 !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #3a5e80 !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #47749e !important;
    @extend %cw-button-medium;
    @include box-shadow(inset 0 -5px 0 rgba(58, 94, 128, 1));
  }
}

.cw-geraldine-large-button {
  color: #ffffff;
  background-color: #de5e5c !important;
  @extend %cw-button-large;
  @include box-shadow(inset 0 -5px 0 rgba(112, 29, 48, 1));
  .cw-hover &:enabled:hover {
    background-color: #e57977 !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #701d30 !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #de5e5c !important;
    @extend %cw-button-large;
    @include box-shadow(inset 0 -5px 0 rgba(112, 29, 48, 1));
  }
}

.cw-maroon-large-button {
  color: #ffffff;
  background-color: #ce3657 !important;
  @extend %cw-button-large;
  @include box-shadow(inset 0 -5px 0 rgba(144, 46, 68, 1));
  .cw-hover &:enabled:hover {
    background-color: #d74e6c !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #8d243b !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #ce3657 !important;
    @extend %cw-button-large;
    @include box-shadow(inset 0 -5px 0 rgba(144, 46, 68, 1));
  }
}

.cw-carissma-large-button {
  color: #ffffff;
  background-color: rgba(206, 54, 87, 0.6);
  @extend %cw-button-large;
}

.cw-maroon-smaller-button {
  color: #ffffff;
  background-color: #c13f5c !important;
  @extend %cw-button-smaller;
  @include box-shadow(inset 0 -5px 0 rgba(144, 46, 68, 1));
  .cw-hover &:enabled:hover {
    background-color: #cb5973 !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #902e44 !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #c13f5c !important;
    @extend %cw-button-smaller;
    @include box-shadow(inset 0 -5px 0 rgba(144, 46, 68, 1));
  }
}

.cw-green-small-button {
  color: #ffffff;
  background-color: #50a463 !important;
  @extend %cw-button-small;
  @include box-shadow(inset 0 -5px 0 rgba(58, 128, 62, 1));
  .cw-hover &:enabled:hover {
    background-color: #5fb265 !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #3a803e !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #50a463 !important;
    @extend %cw-button-small;
    @include box-shadow(inset 0 -5px 0 rgba(58, 128, 62, 1));
  }
}

.cw-maroon-small-button {
  color: #ffffff;
  background-color: #c13f5c !important;
  @extend %cw-button-small;
  @include box-shadow(inset 0 -5px 0 rgba(144, 46, 68, 1));
  .cw-hover &:enabled:hover {
    background-color: #cb5973 !important;
  }
  &:enabled:active {
    padding-top: 10px;
    background-color: #902e44 !important;
    @include box-shadow(none);
  }
  &:disabled, &:disabled:hover {
    opacity: 0.4;
    color: #ffffff;
    background-color: #c13f5c !important;
    @extend %cw-button-small;
    @include box-shadow(inset 0 -5px 0 rgba(144, 46, 68, 1));
  }
}

.cw-link-button {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  font-size: 16px;
  display: inline-block;
  color: rgb(84, 100, 128);
  .cw-hover &:hover {
    color: rgb(110, 131, 169);
  }
  &:active {
    color: rgb(255, 255, 255) !important;
    background: rgb(73, 67, 101) !important;
    @include border-radius(3px);
  }
}

.cw-tile-button {
  outline: none;
  border: 0;
  height: 65px;
  line-height: 65px;
  padding: 0 10px;
  font-size: 30px;
  display: inline-block;
  color: #535354 !important;
  background: #fcfcfb !important;
  @include border-radius(5px);
  @include box-shadow(2px 2px 5px 0px rgba(140, 134, 136, 0.55));
  .cw-hover &:enabled:hover {
    color: #535354 !important;
    background: #e4eaf7 !important;
  }
  &:enabled:active {
    color: #fff !important;
    background: #45608c !important;
    @include box-shadow(0 0 0 0 rgba(140, 134, 136, 0));
  }
}

.cw-tile-incorrect-button {
  color: #5c231e !important;
  background: #d9aaab !important;
}