.delete-question-popup {
  background: rgb(252, 252, 252);
  width: 400px;
  height: 200px;
  border-radius: 5px;
}

.delete-question-body {
  height: 85px;
  margin: 0 1px;
}

.delete-question-body > div {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  color: #232526;
  padding-top: 10px;
}

.delete-question-footer {
  height: 70px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  line-height: 55px;
  width: 100%;
}