.statistic-btn{
  width: 32px;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
}

.testContent {
  position: inherit;
  background-color: transparent;
  width: 100%;
  bottom: 0px;
  float: right;
  border-top: 2px solid currentcolor;
}

.testHeader {
  height: 60px;
  display: block;
  width: 100%;
  background-color: #205081;
  line-height: 60px;
}

.testLeftSide {
  background-color: #F3F8F8;
  color: #8AA8BD;
  font-weight: 700;
  float: left;
  width: 35%;
  position: absolute;
  bottom: 0;
  top: 60px;
  box-sizing: border-box;
  overflow-x: hidden;
  border-top: 2px solid black;
  min-width: 320px;
  box-shadow: 0px 8px 10px 5px #CCC;
}

.testLeftFooter {
  color: white;
  border-top: 1px solid;
  position: fixed;
  bottom: 0px;
  width: 35%;
  height: 50px;
  background-color: #205081;
  line-height: 50px;
}

.titleCreateQs {
  height: 48px;
  background-color: #8cccf0;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  font-family: arial, sans-serif, verdana;
  border-bottom: 2px solid black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 48px;
}
.content-creating-test{
  background: transparent url('../img/background.jpg') center center no-repeat fixed;
}

.contentCreateQs {
  background-color: #BED0CF;
  position: absolute;
  width: 100%;
  top: 62px;
  bottom: 0px;
  right: 0px;
  border-left: 3px solid;
}

.questionList {
  font-size: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.questionList li .questionItem {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  height: 56px;
  -webkit-box-shadow: inset 0 -2px 1px -2px #999;
  box-shadow: inset 0 -2px 1px -2px #999;
}

.questionList li a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  text-decoration: none;
  color: #837f79;
  font-weight: bold;
  font-size: 16px;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 2px solid #000;
}

.questionList li:nth-child(even) .questionItem {
  background-color: #ffffff;
}

.questionList li:nth-child(odd) .questionItem {
  background-color: #f7f6f4
}

.questionItem {

}

.questionList li .questionItem .actNum {
  width: 10%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  border-left: 2px #ffffff;
  border-right: 2px solid #000;
  top: -22px;
  position: relative;
  max-width: 60px;
}

.questionList li:nth-child(even) .questionItem .actNum {
  background-color: #055c81;
}

.questionList li:nth-child(odd) .questionItem .actNum {
  background-color: #0a5081;
}

.questionList li:hover .questionItem a {
  color: #837f79;
}

.questionList li:hover .questionItem {
  background-color: #e1e0ea;
}

.questionItemButtons {
  float: right;
  position: relative;
  line-height: 55px;
  right: 10px;
  padding-left: 5px;
}
.tools-download{
  position: absolute;
  right: 200px;
  font-size: 16px;
  color: white;
}
.dot-net-download{
  position: absolute;
  right: 40px;
  font-size: 16px;
  color: white;
}

@font-face {
  font-family: 'icons';
  src: url('../img/fontIcons/icons.eot?d7wyb7');
  src: url('../img/fontIcons/icons.eot?#iefixd7wyb7') format('embedded-opentype'), url('../img/fontIcons/icons.woff?d7wyb7') format('woff'), url('../img/fontIcons/icons.ttf?d7wyb7') format('truetype'), url('../img/fontIcons/icons.svg?d7wyb7#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//--------------------------------

.icon-pencil:before {
  content: "\e600";
  color: #8AA8BD;
}
.icon-pencil:hover:before {
  color: #2b4157;
}

.icon-pencil:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-crest:before {
  content: "\e601";
}


//--------------------------------

.icon-check:before {
  content: "\e602";
}

//--------------------------------

.icon-plus:before {
  content: "\e603";
}

//--------------------------------

.icon-minus:before {
  content: "\e605";
  color: #2b4157;
}

.icon-minus:hover:before {
  color: #8AA8BD;
}

.icon-minus:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-folder:before {
  content: "\e606";
  color: #8AA8BD;
}

.icon-folder:hover:before {
  color: #2b4157;
}

.icon-folder:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-trash:before {
  content: "\e604";
  color: #8AA8BD;
}

.icon-trash:hover:before {
  color: #2b4157;
}

.icon-trash:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-undo:before {
  content: "\e607";
  color: #8AA8BD;
}

.icon-undo:hover:before {
  color: #2b4157;
}

.icon-undo:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-redo:before {

  content: "\e608";
  color: #8AA8BD;
}

.icon-redo:hover:before {
  color: #2b4157;
}

.icon-redo:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-list:before {
  content: "\e609";
  color: #8AA8BD;
}

.icon-list:hover:before {
  color: #2b4157;
}

.icon-list:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-list2:before {
  content: "\e60a";
  color: #8AA8BD;
}

.icon-list2:hover:before {
  color: #2b4157;
}

.icon-list2:active:before {
  color: #628fbd;
}
//--------------------------------

.icon-menu:before {
  content: "\e60b";
  color: #8AA8BD;
}

.icon-menu:hover:before {
  color: #2b4157;
}

.icon-menu:active:before {
  color: #628fbd;
}
//--------------------------------

.icon-cancel-circle:before {
  content: "\e60c";
  color: #8AA8BD;
}

.icon-cancel-circle:hover:before {
  color: #2b4157;
}

.icon-cancel-circle:active:before {
  color: #628fbd;
}
//--------------------------------

.icon-checkmark-circle:before {
  content: "\e60d";
  color: #8AA8BD;
}

.icon-checkmark-circle:hover:before {
  color: #2b4157;
}

.icon-checkmark-circle:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-checkmark:before {
  content: "\e60e";
  color: #8AA8BD;
}

.icon-checkmark:hover:before {
  color: #2b4157;
}

.icon-checkmark:active:before {
  color: #628fbd;
}

//--------------------------------

.icon-spell-check:before {
  content: "\e60f";
  color: #8AA8BD;
}

.icon-spell-check:hover:before {
  color: #2b4157;
}

.icon-spell-check:active:before {
  color: #628fbd;
}
