#curtain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(70, 65, 65, 0.7);
}

.hidden {
  display: none;
  opacity: 0;
}

.ngpopup {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
}

.ngpopup .header {
  position: relative;
  height: 45px;
  background-color: #262626;
  color: white;
  margin: 1px;
  top: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px -1px 2px 1px #262626;
  border-bottom: 1px solid white
}

.ngpopup .header .text {
  float: left;
  margin: 0;
  padding: 0 25px;
  line-height: 44px;
}

.header {
  position: relative;
  height: 45px;
  background-color: #262626;
  color: white;
  margin: 1px;
  top: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px -1px 2px 1px #262626;
  border-bottom: 1px solid white
}

.header .text {
  float: left;
  margin: 0;
  padding: 0 25px;
  line-height: 44px;
}




.ngpopup .header .button-container {
  position: absolute;
  right: 0;
}

.ngpopup .header .x-btn, .ngpopup .header .help-btn {
  float: left;
  cursor: pointer;
  width: 48px;
  height: 44px;
  line-height: 44px !important;
  text-align: center;
  font-size: 36px;
  margin-left: 2px;
  background-color: #d28652;
}

.ngpopup .header .x-btn:hover, .ngpopup .header .help-btn:hover {
  color: #f4da7a;
}

.ngpopup .header .x-btn:active, .ngpopup .header .help-btn:active {
  color: #ccc8db;
}
