html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

* {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-content * {
  outline: none;
  -webkit-user-select: all !important;
  -moz-user-select: all !important;
  -ms-user-select: all !important;
  user-select:all !important;
}
