.summary-level1{
  padding: 10px;
  width: 100%;
  height: 40px;
  background-color: #666;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.summary-level2{
  padding: 10px;
  height: 40px;
  background-color: #8FB5B9;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid white;
  cursor: pointer;
  margin-left: 24px;
}

.summary-level3{
  padding: 10px;
  height: 40px;
  background-color: #929292;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.details-level3{
  margin-left: 48px;
}

.details-container {
  position: absolute;
  top: 5px;
  right: 10px;
  left: 10px;
  bottom: 20px;
  padding: 0 10px;
}

.questions-table-content {
  position: absolute;
  top: 80px;
  right: 10px;
  left: 10px;
  bottom: 20px;
  padding: 0 10px;
}

.questions-main-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  > tbody > tr {
    position: relative;
    display: table;
    width: 100%;
  }
  > tbody > tr:nth-child(odd) > td {
    @include sgl-background-clip;
  }
  > tbody > tr:hover td {
    background: rgba(176, 200, 218, 0.85);
  }
  > tbody > tr > td {
    position: relative;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background: #EAEAEA;
    @include sgl-background-clip;
  }
  > tbody {
    display: block;
    height: 100%;
    width: 100%;
    padding-right: 10px;
    overflow-y: auto;
  }
}