.profile-view-footer {
  bottom: 0px;
  left: 18px;
  right: 18px;
  position: absolute;
  height: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
  line-height: 50px;
  padding-right: 70px;
  background-color: #ccc;
}

.view-holder {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}

.profile-view-row {
  height: 60px;
  display: table;
  width: 100%;
  padding: 0 10px;
}

.profile-view-row span {
  width: 150px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
}

.profile-question-count-input {
  width: 70px;
  height: 40px;
  display: table-cell;
  margin-left: 1%;
  margin-top: 8px;
  resize: none;
  overflow: hidden;
}

.profile-name-input {
  width: 90%;
  height: 40px;
  display: table-cell;
  margin-left: 1%;
  margin-top: 8px;
  resize: none;
  overflow: hidden;
}

.profile-generate-btn {
  height: 44px;
  width: 100px;
  margin-left: 10px;
}

.profile-settings-holder {
  position: absolute;
  border: 2px solid #A8A5A5;
  top: 65px;
  bottom: 52px;
  left: 20px;
  right: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.lock-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
}

.statistic-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
}

.testContent {
  position: inherit;
  background-color: transparent;
  width: 100%;
  bottom: 0px;
  float: right;
  border-top: 2px solid currentcolor;
}

.testHeader {
  height: 60px;
  display: block;
  width: 100%;
  background-color: #205081;
  line-height: 60px;
}

.testLeftSide {
  background-color: #F3F8F8;
  color: #8AA8BD;
  font-weight: 700;
  float: left;
  width: 35%;
  position: absolute;
  bottom: 0;
  top: 60px;
  box-sizing: border-box;
  overflow-x: hidden;
  border-top: 2px solid black;
  min-width: 320px;
  box-shadow: 0px 8px 10px 5px #CCC;
}

.testLeftFooter {
  color: white;
  border-top: 1px solid;
  position: fixed;
  bottom: 0px;
  width: 35%;
  height: 50px;
  background-color: #205081;
  line-height: 50px;
}

.titleCreateQs {
  height: 48px;
  background-color: #8cccf0;
  text-align: center;
  font-size: 36;
  font-weight: 800;
  font-family: arial, sans-serif, verdana;
  border-bottom: 2px solid black;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 48px;
}

.content-creating-test {
  background: transparent url('../img/background.jpg') center center no-repeat fixed;
}

.contentCreateQs {
  background-color: #BED0CF;
  position: absolute;
  width: 100%;
  top: 62px;
  bottom: 0px;
  right: 0px;
  border-left: 3px solid;
}

.questionList {
  font-size: 20px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.questionList li .questionItem {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
  height: 56px;
  -webkit-box-shadow: inset 0 -2px 1px -2px #999;
  box-shadow: inset 0 -2px 1px -2px #999;
}

.questionList li a {
  display: inline-block;
  height: 56px;
  line-height: 56px;
  text-decoration: none;
  color: #837f79;
  font-weight: bold;
  font-size: 16px;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: 2px solid #000;
}

.questionList li:nth-child(even) .questionItem {
  background-color: #ffffff;
}

.questionList li:nth-child(odd) .questionItem {
  background-color: #f7f6f4
}

.questionItem {

}

.questionList li .questionItem .actNum {
  width: 10%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  border-left: 2px #ffffff;
  border-right: 2px solid #000;
  top: -22px;
  position: relative;
  max-width: 60px;
}

.questionList li:nth-child(even) .questionItem .actNum {
  background-color: #055c81;
}

.questionList li:nth-child(odd) .questionItem .actNum {
  background-color: #0a5081;
}

.questionList li:hover .questionItem a {
  color: #837f79;
}

.questionList li:hover .questionItem {
  background-color: #e1e0ea;
}

.questionItemButtons {
  float: right;
  position: relative;
  line-height: 55px;
  right: 10px;
  padding-left: 5px;
}

.tools-download {
  position: absolute;
  right: 200px;
  font-size: 16px;
  color: white;
}

.dot-net-download {
  position: absolute;
  right: 40px;
  font-size: 16px;
  color: white;
}

span.ui-select-highlight {
  color: red;
}

.student-vedemost-view {
  position: absolute;
  left: 18px;
  right: 9px;
  top: 4px;
  bottom: 51px;
  overflow: hidden;
  overflow-y: auto;
}

.polugodie-dd-list {
  position: relative;
  height: 23px;
  width: 120px;
  color: #8AA8BD;
  outline: solid;
  font-size: 16px;
}

.statistic-table-holder {
  position: absolute;
  top: 5px;
  right: 10px;
  left: 10px;
  bottom: 20px;
  padding: 0 10px;
}

.statistic-cell {
  min-width: 40px;
  text-align: center;
  vertical-align: middle;
}

.move-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
}

.move-studs-table {
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 50px;
  top: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.red-str {
  color: red;
}

.vedemost-view {
  .left-side-menu-container {
    width: 300px !important;
  }

  .vedemost-left-side {
    width: 300px !important;
  }
  .vedemost-right-side {
    left: 300px !important;
  }
  .tree-view-item {
    white-space: nowrap;
  }
  .tree-menu-container {
    top: 150px;
  }
}